@model HTTAPI.ViewModels.EmployeePasswordResetEmailViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        body {
            width: 850px;
        }

        h3.summary-header {
            font-weight: bold;
        }

        span.form-header {
            font-weight: bold;
        }

        .summary {
            margin-left: 15px;
        }

        .description {
            margin-top: 25px;
        }

        .bye {
            margin-top: 25px;
        }
    </style>
</head>
<body>
    <p>Dear @Html.DisplayFor(model => model.Name)</p>
    <p>Please click the below link to reset your password, the link will be valid for 1 day:</p>
    <a title="Click here" href="@Model.ResetUrl">Reset Password</a>

    <div class="bye">
        <span class="br">Best Regards</span><br />
        <span class="thnks">HR Team</span>
    </div>
</body>
</html>
